<div id='achievements'>
  <div class='section title'>ACHIEVEMENTS</div>
  <ul class='items'>
    <!-- acmicpc -->
    <li>
      <div class='meta'>
        <div class='what'>ACM ICPC: Qualified for <span class='impact'>3 regional sites</span>, one in first year and two in second year of college.</div>
        <div class='when'>2016, 2017</div>
      </div>
    </li>
    <!-- mains -->
    <li>
      <div class='meta'>
        <div class='what'>JEE Mains: Scored <span class='impact'>306/360 (99.99 percentile)</span> out of 1.2 million candidates.</div>
        <div class='when'>2016</div>
      </div>
    </li>

    <!-- nsep -->
    <li>
      <div class='meta'>
        <div class='what'>NSEP and NSEC: Awarded <span class='impact'>Certificate of Merit</span> for being <span class='impact'>National Top 1%</span> in both National Physics and Chemistry Olympiad.</div>
        <div class='when'>2016</div>
      </div>
    </li>

    <!-- kvpy -->
    <li>
      <div class='meta'>
        <div class='what'>KVPY: <span class='impact'>Ranked 42</span>, recipient of <span class='impact'>KVPY Fellowship</span> by Dept. of Science and Technology, Govt. of India.</div>
        <div class='when'>2015</div>
      </div>
    </li>

    <!-- ijso -->
    <li>
      <div class='meta'>
        <div class='what'>IJSO: Selected amongst <span class='impact'>top 35</span> students in India, to attend OCSC at Homi Bhabha Center for Science and Education.</div>
        <div class='when'>2014</div>
      </div>
    </li>

    <!-- ntse -->
    <li>
      <div class='meta'>
        <div class='what'>NTSE: Recipient of <span class='impact'>NTSE Scholarship</span>, organized by NCERT.</div>
        <div class='when'>2012</div>
      </div>
    </li>
  </ul>
</div>
