<div id='activities'>
  <div class='section title'>ACTIVITIES</div>
  <div>
    <ul>
      <li><span class="impact">Finalist</span> in HerHack, an internal hackathon by HSBC to promote gender diversity.</li>
      <li><span class='impact'>Campus Ambassador</span> of HackerEarth, organized various competitive programming contests on the campus.</li>
      <li>Organized <i>"The Butler Did It"</i> event which has <span class='impact'>over 100 participants</span>, as a member of the event team of Blithchron'17.</li>
      <li>Part of the Design team for Amalthea'16, <span class='impact'>designed posters</span> to showcase the events and sponsors.</li>
    </ul>
  </div>
</div>
