<div id='education'>
  <div class='section title'>EDUCATION</div>
  <table>
    <tr>
      <th>Degree</th>
      <th>Institution</th>
      <th class='cgpa'>CGPA/Percentage</th>
      <th>Year</th>
    </tr>
    <tr>
      <td>B.Tech.</td>
      <td>Indian Institute of Technology, Gandhinagar</td>
      <td class='cgpa'>6.62</td>
      <td>2020</td>
    </tr>
    <tr class='school'>
      <td>Class XII</td>
      <td>D.A.V. Public School, Kota (C.B.S.E.)</td>
      <td class='cgpa'>92.4%</td>
      <td>2016</td>
    </tr>
    <tr class='school'>
      <td>Class X</td>
      <td>D.A.V. Public School, Kota (C.B.S.E.)</td>
      <td class='cgpa'>10.00</td>
      <td>2014</td>
    </tr>
  </table>
</div>
