<div id='experience'>
  <div class='section title'>EXPERIENCE</div>
  <div class='section item'>
    <div class='meta'>
      <div class='title'>Google Summer of Code</div>
      <div class='when'>2018</div>
    </div>
    <div class='info'>
      <div class='about'>KDE Community</div>
      <ul>
        <li>Collaborated with my mentor to implemented JavaScript extension support for Falkon, reducing the development time by <span class='impact'>more than half</span>.</li>
        <li>Exposed C++ classes as <span class='impact'>web extension inspired</span> JavaScript API using QML as a bridge.</li>
      </ul>
    </div>
  </div>
</div>
