<div id='other'>
  <div class='section title'>OTHER PROJECTS</div>
  <div>
    <ul>
      <li><span class='title'>FeedGram:</span> News and feed reader application for iOS, built using React Native.</li>
      <li><span class='title'>Tic Tac Toe AI:</span> Online game using Minimax with depth limited depth-first search to create AI modes (easy, medium and hard).</li>
      <li><span class='title'>NNKit:</span> Authored pure python neural network library with API motivated from Keras.</li>
      <li><span class='title'>PDFReader:</span> Developed PDF reader extension for Falkon using pdf.js.</li>
      <li><span class='title'>Crocodile:</span> Crafted a Lightweight HTTP/1.1 WSGI compatible web server in pure python.</li>
      <li><span class='title'>Event App:</span> Worked with members of the Design team to develop an android app for Amalthea'17, annual technical fest of college.</li>
      <li><span class='title'>Tweet analysis:</span> Scraped tweets and developed backend to group them according to events, in a group of 5 as a part of Database course.</li>
      <li><span class='title'>Instrument to Instrument:</span> Trained a multi-layer perceptron to extract musical notes, in a group of 4 as a part of Machine Learning course.</li>
      <li><span class='title'>XHTML to LaTeX:</span> Transpiler for XHTML to LaTeX using Bison, done as a part of Compilers course.</li>
      <li><span class='title'>16 Bit Bootloader:</span> Bootloader in Assembly, in a group of 4 as a part of Operating System course.</li>
      <li><span class='title'>Maze Generator:</span> Maze generation using Randomized Prims Algorithm, in a group of 3 as a part of DSA course.</li>
    </ul>
  </div>
</div>
