<div id='project'>
  <div class='section title'>SIDE PROJECTS</div>

  <!-- crusta browser -->
  <div class='section item'>
    <div class='meta'>
      <div class='title'>Crusta Browser</div>
      <div class='link'><a href='http://github.com/crusta'>github.com/crusta</a></div>
    </div>
    <div class='info'>
      <div class='about'>Cross-platform desktop web-browser</div>
      <ul>
        <li>Developed cross-platform desktop web-browser with more than <span class='impact'>5000 users</span> from over <span class='impact'>120 countries</span>.</li>
        <li>Unique features like Split tabs, Cookie management, text to speech, custom themes.</li>
        <li>Tweaked UI on OSX using Objective C++ to support dark mode, accent color and make it feel native.</li>
      </ul>
    </div>
  </div>

  <!-- truck -->
  <div class='section item'>
    <div class='meta'>
      <div class='title'>Truck</div>
      <div class='link'><a href='http://github.com/tarptaeya/truck'>github.com/tarptaeya/truck</a></div>
    </div>
    <div class='info'>
      <div class='about'>Programming language</div>
      <ul>
        <li>Implemented as <span class='impact'>tree walking interpreter</span> using <span class='impact'>hand-written</span> recursive descent parser.</li>
        <li>Supports Integer, String, Boolean, Arrays, Lambdas, Closures and User-Defined Modules.</li>
        <li>Featured on <span class='impact'>Proglang Design</span> and <span class='impact'>Product-Hunt</span> amongst top products of the day.</li>
      </ul>
    </div>
  </div>

</div>

