<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hey there! I am Anmol Gautam. I am a Software Engineer at HSBC. I did my bachelors in Computer Science from IIT Gandhinagar. While at college, I was also selected for Google Summer of Code under KDE to implement JavaScript/QML extension support for Falkon. I also hold Tensorflow Developer certificate.">
    <meta name="author" content="Anmol Gautam">
    {% block head %}
        <title>{{ title }} - Tarptaeya's blog</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
        <style>{% include "base.css" %}</style>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
    {% include "nav.html" %}

    <div class="spacer"></div>

    <div id="root">
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="sidebar">
            <div class="avatar">
                <img src="https://github.com/tarptaeya.png" alt="profile image">
            </div>
            <div class="intro">
                <p>
                    Hey there! I am Anmol Gautam. I am a Software
                    Engineer at HSBC. I did my bachelors in Computer
                    Science from IIT Gandhinagar. While at college, I
                    was also selected for Google Summer of Code under
                    KDE to implement JavaScript/QML extension support
                    for Falkon. I also hold Tensorflow Developer certificate.
                </p>
                <div>
                    <a class="github-button" href="https://github.com/tarptaeya" data-size="large" data-show-count="true" aria-label="Follow @tarptaeya on GitHub">Follow @tarptaeya</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>
