.posts-container ol {
    padding: 0;
    padding-left: 1rem;
}

.posts-container .post {
    margin-bottom: 1rem;
}

.posts-container .title a {
    text-decoration: none;
    color: inherit;
}

.posts-container .title a:hover {
    color: indianred;
}
